<!DOCTYPE html>
<html>
    <title>Демо классификации</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body,h1 {font-family: "Raleway", sans-serif}
        body, html {height: 100%}
    </style>
    <body>
        <div class="w3-content">
            <a href ="/"><h2 class="w3-text-blue">На главную</h2></a>
            <div class="w3-container w3-card-4">
                <h2 class="w3-text-red">Что-то пошло не так<br> ¯\_(ツ)_/¯<br> проверьте правильно ли заполнена форма </h2>
                <br><br>
            </div>
        </div>
    </body>
</html>