<!DOCTYPE html>
<html>
    <title>Демо классификации</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body,h1 {font-family: "Raleway", sans-serif}
        body, html {height: 100%}
    </style>
    <body>
        <a href ="/"><h2 class="w3-text-blue">На главную</h2></a>
        <div class="w3-container w3-card-4">
            <p>
                <img src={{ url | safe }} height="300">
            </p>
            <h3>Predicted: <b>{{ pred | safe }}</b></h3>
            <hr>
            <form class="w3-container" method="POST" action="/demo">
                <p> URI изображения jpg </p>
                <p>
                    <input type="text" name="url" value=""><br>
                </p>
                <button class="w3-btn w3-blue" type="submit">Классифицировать</button>
            </form>
        </div>
    </body>
</html>